@tailwind base;
@tailwind components;
@tailwind utilities;

form{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

/* input[type="text"]{
    height: 3em;
    margin: 0 0 1em 0;
} */

label{
    margin-top: 1em;
text-align: left;
}

